@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,100;1,200;1,500&family=Poppins:wght@500&family=Roboto+Mono&family=Roboto:wght@500&display=swap');

body{
    background-color: #34373E;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #2f3136;
    padding: 0 20px;
    z-index: 1000; 
}


.navbar .navbar-linkhover{text-decoration:none;}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-link {
    font-size: 18px;
    color: #b9bbbe;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease; 
}

.navbar-link:after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

.navbar-link:hover {
    color: #ffffff;
}

.navbar-link:hover:after {
    width: 100%;
    background: #717beb ;
}

.navbar-link:active:after {
    width: 100%;
    background: #5865f2;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.button{
    border-radius: 5px;
    border:none;
    color:white;
    background-color: #2f3136;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: 0.3s ease-in;
    align-items: "center";
}

/* primary */
.button-primary{
    background-color: #5865F2 !important
}
.button-primary:hover{
    background-color: #4752C4 !important
}

/* secondary */
.button-secondary{
    background-color: #4F545C !important
}
.button-secondary:hover{
    background-color: #474C53 !important
}

/* success */
.button-success{
    background-color: #3BA55C !important
}
.button-success:hover{
    background-color: #359553 !important
}

/* danger */
.button-danger{
    background-color: #ED4245 !important
}
.button-danger:hover{
    background-color: #D53B3E !important
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

a:not([class]){
    color:#05A8FC;
    text-decoration: none;
}
a:not([class]):hover{
    text-decoration: underline;
}

@import url("./discord-theme.css");

img[alt="pfp"]{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}